<div style="width: 100%; text-align: center">
  <ul class="list-menu list-menu--inline">
    <li>
      <a
        href="/fr/policies/privacy-policy"
        class="header__menu-item list-menu__item link link--text focus-inset"
      >
        Privacy Policy
      </a>
    </li>
    <li>
      <a
        href="/fr/policies/refund-policy"
        class="header__menu-item list-menu__item link link--text focus-inset"
      >
        Refund Policy
      </a>
    </li>
    <li>
      <a
        href="/fr/policies/shipping-policy"
        class="header__menu-item list-menu__item link link--text focus-inset"
      >
        Shipping Policy
      </a>
    </li>
    <li>
      <a
        href="/fr/policies/terms-of-service"
        class="header__menu-item list-menu__item link link--text focus-inset"
      >
        Terms of Service
      </a>
    </li>
    <li>
      <a
        href="/fr/pages/company-details"
        class="header__menu-item list-menu__item link link--text focus-inset"
      >
        Company details
      </a>
    </li>
  </ul>
</div>

{% schema %}
{
  "name": "Legal",
  "class": "header-legal-list-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": []
}
{% endschema %}
